    body {
        font-family: Arial;
        background-color: rgb(47, 47, 47);
        color: white;
    }
    .heading{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
    .todo-grid,
    .todo-input-grid {
        display: grid;
        grid-template-columns: 200px 150px 100px;
        column-gap: 10px;
        row-gap: 10px;
        align-items: center;
    }
    .todo-input-grid {
        margin-bottom: 10px;
        align-items: stretch;
        border: 0.5px;
        border-color: rgb(227, 179, 59);
    }
    .name-input,
    .due-date-input {
        font-size: 14px;
        padding: 6px;
        border-radius: 20px;
    }
    .add-todo-button {
        background-color: green;
        color: white;
        border: none;
        font-size: 13px;
        cursor: pointer;
        border-radius: 23px;
    }
    
    .delete-todo-button {
        background-color: darkred;
        color: white;
        border: none;
        font-size: 13px;
        cursor: pointer;
        padding-top: 11px;
        padding-bottom: 11px;
        border-radius: 23px;
    }